<head>
    <% include ./layout/header.ejs%>
    <style type="text/css" media="screen,projection">
      @import url("/style/login.css");
    </style>
</head>

<body>
    <div class="login-container">
        <form action="/user/login" method="post">
            <input class="login-box" type="text" placeholder="Tên đăng nhập" id="username" name="username" autofocus/>
            <input class="login-box" type="password" placeholder="Mật khẩu" id="password" name="password"/>
            <button class="login-btn" type="submit" id="login-btn">Đăng nhập</button>
            <a class="signup" href="/user/signup">Đăng ký</a>
        </form>
    </div>
</body>

<script>
</script>